.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.login > img {
  width: 100%;
  object-fit: contain;
}

.login > a {
  text-decoration: none;
  border-radius: 99px;
  font-weight: 800;
  color: white;
  cursor: pointer;
  padding: 20px;
  background-color: #1db954;
}
